/{
	chosen {
		zephyr,canbus = &fdcan1;
	};

	gpio_4g_modem {
		compatible = "gpio-keys";
		modem_interrupt: interrupt {
			gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
			label = "Modem Interrupt";
		};
		modem_sleep: sleep {
			gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
			label = "Modem Sleep";
		};
	};

	aliases {
		modem-interrupt = &modem_interrupt;
		modem-sleep = &modem_sleep;
		modem = &usart1;
	};
};

&fdcan1 {
	pinctrl-0 = <&fdcan1_rx_pb12 &fdcan1_tx_pb10>;
	pinctrl-names = "default";
	status = "okay";
};

&spi1 {
	status = "okay";

	cs-gpios = <&gpioa 14 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_miso_pa0 &spi1_mosi_pa7 &spi1_sck_pa2>;
	pinctrl-names = "default";

	sdhc0: sdhc@0 {
		status = "okay";
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
		spi-max-frequency = <24000000>;
	};
};

&pll {
	div-q = <5>;
};

// USART3 is already used for virtual serial via USB
&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

	// Custom driver needed for SIM7600G?
	// modem: modem {
	// 	compatible = "simcom,sim7080";
	// 	mdm-power-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
	// 	status = "okay";

	// };
};
